In [1]:
import pandas as pd #step 1
df_employees=pd.read_csv('data/employees.csv')
df_system_access=pd.read_csv('data/system_access.csv')

In [2]:
df_system_access['id'] = 'EMP' + df_system_access['id'].astype(str).str.zfill(6)
df_system_access.head()
#step2

          id    access_level
0  EMP017263   Account Admin
1  EMP010275  Contract Entry
2  EMP007568  Contract Entry
3  EMP021986   Account Admin
4  EMP020614   Account Admin

In [3]:
#step 3
df_system_access.rename(columns={'id':'employee_number'},inplace=True)
df_system_access.set_index('employee_number',inplace=True)
df_employees.set_index('employee_number',inplace=True)
df = df_employees.join(df_system_access, how='left')
df

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
...,...,...,...,...,...
EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant,Contract Entry
EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager,Account Admin
EMP024890,Prescott,Southward,prescott.southward@consultants.com,Account Manager,Account Admin
EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager,Account Admin
EMP024931,Frederique,Fant,frederique.fant@consultants.com,Sales Assistant,Contract Entry